* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f9f9f9;
    font-family: "Poppins", sans-serif;
    color: #262626;
  }
  
  .luxventus h1 {
    font-family: "Cinzel", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
  }
  
  header {
    max-width: 1440px;
    width: 1272px;
    margin: 0 auto;
  }
  
  .header-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 37px;
    margin-bottom: 47px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 65px;
    padding-left: 255px;
  }
  
  .nav-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    color: #262626;
  }
  .nav-link:hover {
    color: #4ce0d7;
  }
  
  #green {
    background-color: #4ce0d7;
    border-radius: 40px;
    padding: 9px 32px 7px;
  }
  #green:hover {
    background-color: black;
  }
  
  .icon {
    background-color: #4ce0d7;
    border-radius: 20px;
    padding: 11px 12px;
  }
  
  span {
    position: relative;
    display: inline-block;
  }
  
  span::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    height: 50%;
    width: 100%;
    background-color: #4ce0d7;
    z-index: -1;
  }
  
  .first-section {
    max-width: 1440px;
    width: 1272px;
    height: 559px;
    margin: 0 auto;
    background-image: url("./assets/photo1.svg");
    background-repeat: no-repeat;
    margin-bottom: 73px;
  }
  
  .first-section-content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 57px;
    gap: 22px;
  }
  
  .first-section h4 {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 218px;
  }
  
  .first-section h2 {
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .first-section p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .secondspan {
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(90deg, #4ce0d7 43.06%, #8ba9f4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  
  /*  small card styles--------------*/
  
  .topics {
    max-width: 1440px;
    width: 1272px;
    margin: 0 auto;
    margin-bottom: 48px;
  
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .container {
    display: flex;
    max-width: 1440px;
    width: 1272px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    margin-bottom: 140px;
  }
  
  .card {
    display: flex;
    width: 204px;
    height: 291px;
    background-color: #ffffff;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0px 6px 6px 0px #0000000d;
  }
  
  .photo {
    width: 88px;
    height: 88px;
    margin: 51px 58px 20px 58px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 29px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
  
  .button {
    font-family: "Poppins", sans-serif;
    width: 144px;
    padding: 10px;
    background-color: #4ce0d7;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    align-self: center;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
  }
  .button:hover {
    background-color: black;
    color: #4ce0d7;
  }
  /* small card style end */
  
  /* fashion photo container style */
  
  .big-photo-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .photo-wrapper {
    position: relative;
    margin-bottom: 103px;
  }
  
  .photo-wrapper img {
    width: 1272px;
    max-width: 1440px;
  }
  
  .photo-container {
    position: relative;
  }
  
  .fashion-button {
    position: absolute;
    top: 24px;
    left: 47px;
    padding: 10px 20px;
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 81px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .read-more-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #4ce0d7;
  }
  
  .content img {
    width: 21px;
    height: 13px;
    margin-right: 10px;
  }
  
  .content {
    max-width: 1440px;
    width: 1044px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .trending {
    margin: 20px 0;
    
  }
  
  .trendingp {
    width: 471px;
    padding: 0 74px 0 34px;
  }
  .trendingp p {
    width: 464px;
    }
  
  
  
  .trendingcards {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 1272px;
  
    justify-content: space-between;
  
  }
  
  .trendingcard1,
  .trendingcard2 {
    width: 48%;
  }
  
  .trendingimg img {
    width: 100%;
  }
  
  .trendinginfo {
    display: flex;
    margin-top: 25px;
  
     
  }
  
  .trendinginfo img {
    width: 65px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    margin-right:28px;
    margin-left: 26px;
    margin-bottom: 24px;
  }
  
  .trendinginfo p {
    margin: 0;
    font-size: 14px;
    color: #555;
    margin-left: 30px;
  }
  
  .trendingp h4 {
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
   
   
  }
  
  .trendingp p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 16px;
    margin-bottom: 20px;
  }z
  .conteiner {
  
    max-width: 1440px;
    width: 1272px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  .news-card {
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 1440px;
    width: 1204px;
    height: 368px;
    left: 35px;
    margin: 0 auto;
    top: 35px;
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .image-container > main-image {
    width: 547.51px;
    height: 367.41px;
  }
  .image-container > glasses {
    position: absolute;
    top: 3789.95px;
    left: 711px;
  }
  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
  }
  .p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .p > name {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .p > date {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  
  /* footer style */
  .footer {
    display: flex;
    max-width: 1440px;
    width: 1272px;
    margin: 0 auto;
    justify-content: left;
    align-items: center;
    padding: 87px 0px 77px 0px;
  }
  
  .footerp {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    margin-left: 566px;
  }
  
  .sociallogos {
    display: flex;
    margin-left: 30px;
    gap: 21px;
    align-items: center;
  }
  
  .line {
    width: 1272px;
    margin: 0 auto;
    border: none;
    height: 1px;
    color: #bcbcbc;
    padding-bottom: 34px;
  }
  
  .footercontent {
    width: 1272px;
    margin: 0 auto;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  
    margin-bottom: 37px;
  }
  
  .sociallogos a:hover img {
    transform: scale(1.3);
    transition: transform 0.3s;
  }
